<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="org.testing.TestScript.TC4_PutRequest"/> -->
      <class name="org.testing.TestScript.TC1"/>
     <!--  <class name="org.testing.TestScript.TC2_GetRequest"/> -->
     <!--  <class name="org.testing.TestScript.TC_9_GetRequestQueryParameter"/> -->
      <!-- <class name="org.testing.TestScript.TC3_GetRequest_AllData"/> -->
     <!--  <class name="org.testing.TestScript.TC_10_PatchRequest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
